*.pyc
*.swp
src/FittingUtilities.c
src/FittingUtilities.so
build*
*.tar.gz
dist*
src/TelFit.egg-info
*.aux
*.log
examples/fit_example_fullechelle/Corrected.fits
examples/fit_example/chisq_summary.dat
examples/fit_example_fullechelle/chisq_summary.dat
.idea
.idea/*
docs/_build
